.ant-menu {
  padding: 8px;

  .ant-menu-item {
    border-radius: 6px !important;
    margin: 0;
    width: 100%;
    background-color: oklch(0.269 0 0);
    color: #fff;
    border-right: none !important;
    margin-bottom: 8px;
    padding-left: 18px !important;

    &:hover {
      background-color: #963f02;
    }

    &:active {
      background-color: oklch(0.269 0 0) !important;
    }
  }

  .ant-menu-item-active {
    color: #fff !important;
  }

  .ant-menu-item-selected {
    color: #fff;
    background-color: #bb4d00;
  }

  .ant-menu-submenu {
    border-radius: 6px !important;

    i {
      color: #fff !important;
    }

    .ant-menu-submenu-title {
      border-radius: 6px !important;
      margin: 0;
      width: 100%;
      padding-left: 18px !important;
      margin-bottom: 8px !important;

      &:active {
        background-color: oklch(0.269 0 0) !important;
      }

      .ant-menu-title-content {
        color: #fff !important;
      }
    }

    .ant-menu-item {
      border-radius: 6px !important;
      padding-left: 18px !important;

      &:hover {
        background-color: oklch(0.216 0.006 56.043);
      }
    }

    .ant-menu-item-selected {
      border-radius: 6px !important;
      background-color: #bb4d00;

      &:hover {
        background-color: #d35a04 !important;
      }

      &:active {
        background-color: #b44e05 !important;
      }
    }
  }
}
