.navbar {
  .ant-menu-submenu {
    .ant-menu-submenu-title {
      span a {
        color: #000 !important;
      }

      &:hover {
        span a {
          color: #bb4d00 !important;
        }
      }

      &:active {
        background-color: #fff !important;
      }
    }
  }
}

.ant-menu-light {
  &.ant-menu-horizontal {
    > .ant-menu-item::after,
    > .ant-menu-submenu::after {
      display: none !important;
    }
  }

  > .ant-menu.ant-menu-horizontal {
    > .ant-menu-item::after,
    > .ant-menu-submenu::after {
      display: none !important;
    }
  }
}

.ant-upload-wrapper {
  border-radius: 100% !important;
}

.ant-upload {
  height: 100px !important;
  width: 100px !important;
  border: none !important;
  border-radius: 100% !important;
  background-color: #fff !important;
}

.ant-upload-select {
  border: none !important;
}
