@import 'tailwindcss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ant-drawer-content .ant-drawer-header {
  height: 64px !important;
  background-color: oklch(0.269 0 0) !important;
  flex: unset !important;
  color: #fff;
}

.ant-drawer-content .ant-drawer-header button {
  color: #fff;
}

.ant-drawer-content .ant-drawer-header button:hover {
  color: #ccc;
}

:where(.css-dev-only-do-not-override-gs4ox2).ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  display: none;
}
